#textdomain wesnoth-War_of_the_Dragon
#SCENARIO 4: Broken Bridge
#	You must fight off some devlings, and find another way over the river.

[scenario]
    name= _ "Broken Bridge"
    id=Wotd_fourth
    turns=40
    map_file=~add-ons/War_of_the_Dragon/maps/04_Devlings.map
    next_scenario=Wotd_fifth
    [music]
        name=battle.ogg
    [/music]

    {DEFAULT_SCHEDULE}

    {WOTD_DEATHS}

    [side]
        side=1
        controller=human
        team_name=Alloria
        user_team_name= _ "Alloria"
        village_gold=1
        color=blue
        recruit=EOM_Sky_Shard
        {GOLD 150 125 100}

        type=EOM_Prophetess
        id=Alloria
        [modifications]
            {TRAIT_QUICK}
            {TRAIT_INTELLIGENT}
        [/modifications]
        name= _ "Alloria"
        unrenamable=yes
        canrecruit=yes
    [/side]

    [side]
        side=2
        fog=yes
        {GOLD 100 125 150}
        team_name=Devlings
        #textdomain wesnoth-Era_of_Myths
        user_team_name= _ "race^Devlings"
        #textdomain wesnoth-War_of_the_Dragon
        color=red
        village_gold=1
        recruit=EOM_Sneak, EOM_Cursers, EOM_Overgrown_Devling, EOM_Nailers

        type=EOM_Offenders
        id=dleader
        [modifications]
            {TRAIT_SLOW}
        [/modifications]
        name= _ "Crass"
        canrecruit=yes
        [ai]
            grouping=offensive
            passive_leader=yes
        [/ai]
    [/side]
    [side]
        side=3
        fog=yes
        {GOLD 100 125 150}
        team_name=Devlings
        #textdomain wesnoth-Era_of_Myths
        user_team_name= _ "race^Devlings"
        #textdomain wesnoth-War_of_the_Dragon
        color=black
        village_gold=1
        recruit=EOM_Cursers, EOM_Overgrown_Devling, EOM_Nailers

        type=EOM_Devling_Soldier
        id=dleader2
        name= _ "Brash"
        canrecruit=yes
        [ai]
            grouping=offensive
        [/ai]
    [/side]
    [side]
        side=4
        fog=yes
        {GOLD 150 175 200}
        team_name=Devlings
        #textdomain wesnoth-Era_of_Myths
        user_team_name= _ "race^Devlings"
        #textdomain wesnoth-War_of_the_Dragon
        color=orange
        village_gold=1
        recruit=EOM_Flappers, EOM_Cursers, EOM_Overgrown_Devling, EOM_Nailers

        type=EOM_Devling_Warrior
        id=dleader3
        name= _ "Rude"
        canrecruit=yes
        [ai]
            grouping=offensive
            leader_value=1.5
        [/ai]
    [/side]
    [side]
        side=5
        fog=yes
        {GOLD 165 140 140}
        {INCOME 5 5 5}
        team_name=Alloria
        user_team_name= _ "Alloria"
        color=green
        village_gold=1
        recruit=Spearman,Bowman # and Cavalryman from round 2 on

        type=White Mage
        id=Hawken
        name= _ "Hawken"
        [modifications]
            {TRAIT_RESILIENT}
        [/modifications]
        canrecruit=yes
        [ai]
            grouping=defensive
            villages_per_scout=15
            passive_leader=yes
            support_villages=yes

            # Agression and Caution can improve the ai behaviour, but need more testing, disabled for now
            # When used together with [goal], there was a situation that a Spearman would go into the water to attack with ranged
            # caution=0.5
            # aggression=0

            # This can be used if one is unhappy with the AIs default decissions
            # recruitment_pattern=fighter,fighter,fighter,archer,archer,archer,scout,scout

            # Can be used to set up an area to protect, but that has some disadvantages
            # If a unit comes into that are, the AI will focus on it. This will result in:
            # - If the area is the castle, the AI will focus the unit in the castle and ignoring the ones in front of it.
            #   Resulting in not attacking the weaker ones, and letting the opponents enter the castle the next round
            # - If the area to protect is the castle +1 row around it, it means the units will leave the castle, goining into water to attack
            # Thought, the AI can't play good anyway, and the player could compensate

            # Untested: using [goal] with +1 row around the castle, but [avoid] to keep the units from going into the water.
            # Using avoid standalone leads to the AI moving it's unit to the other two leaders, being vulnerable in the south.
            # The player can't compensate the south.
            #[avoid]
            #    terrain=Ww*
            #[/avoid]

            #[goal]
            #    name=protect_location
            #    [criteria]
            #        x,y=14,25
            #    [/criteria]
            #    protect_radius=1
            #    value=5
            #[/goal]
        [/ai]
        [unit]
            x,y=15,8
            type=Cavalryman
            id=scout
            name= _ "Havlock"
            random_traits=yes
        [/unit]
    [/side]

    # cavalry is not availaible in the first round because of two reasons:
    # - calarymen would launch alone an attack in round 2
    # - more infantry is in the game
    [event]
        name=turn 2
        [allow_recruit]
            type=Cavalryman
            side=5
        [/allow_recruit]
    [/event]

    [story]
        [part]
            story= _ "Chapter III:
'After passing the humans who attempted to destroy us, we agreed that it would be best to avoid human settlements. We currently tramp west through the wilderness.'"
        [/part]
        [part]
            story= _ "'We have found one of the branches that leads to the deep river, and followed it, leaving it only to evade the occasional outpost that tended to be set up around the bridges.'"
        [/part]
        [part]
            story= _ "'The past week has been uneventful.'"
        [/part]
        [part]
            story= _ "'It has been two days since the last message, but our travels have been interrupted by the sight of human cavalry.'"
        [/part]
    [/story]

    [event]
        name=start
        [recall]
            id=Lisaundra
        [/recall]
        [message]
            id=scout
            message= _ "I don't know what you are doing here, but I appeal to you to help, our outpost is under an attack from devlings, and is in desperate need of help."
        [/message]
        [message]
            id=Lisaundra
            message= _ "We don't have time for this, we must reach Municks Bridge as soon as possible."
        [/message]
        [message]
            id=scout
            message= _ "Havn't you heard? The bridge was destroyed by a hydra recently. King Halven of Taknosis thinks that it was on the Dragon's orders."
        [/message]
        [message]
            id=Lisaundra
            message= _ "He does not lie..."
        [/message]
        [message]
            id=Alloria
            message= _ "So much for crossing the deep river quickly, we'll have to go around through the mountains."
        [/message]
        [message]
            id=Lisaundra
            message= _ "Or to the other great bridge, named after the hero Harald."
        [/message]
        [message]
            id=scout
            message= _ "Won't you please help us?"
        [/message]
        [message]
            id=Alloria
            message= _ "Since our trip is going to take awhile, we might as well help them. Devlings are minions of Kzardizin, we can spare the time to eradicate them."
        [/message]
        [message]
            id=Lisaundra
            message= _ "As you will."
        [/message]
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Alloria"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Lisaundra"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Hawken"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    [event]
        name=die
        [filter]
            id=Hawken
        [/filter]
        [message]
            id=Alloria
            message= _ "This failure is intolerable."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=enemies defeated
        [message]
            id=Hawken
            message= _ "We thank send thanks for your help."
        [/message]
        [message]
            id=Lisaundra
            message= _ "We must be going we have a long trail, and are in a great hurry."
        [/message]
        [message]
            id=Hawken
            message= _ "I'd like to help you if I can."
        [/message]
        [message]
            id=Lisaundra
            message= _ "Unless you can summon a great magic to help us cross the deep river I don't know what you could do."
        [/message]
        [message]
            id=Hawken
            message= _ "No, but I know a way to get across the river without going into the mountains, or across the northwest steppes."
        [/message]
        [message]
            id=Alloria
            message= _ "What way is this?"
        [/message]
        [message]
            id=Hawken
            message= _ "As you know, the great river comes forth from a great maw in the mountains. There are other ways into the caves. You could enter the caves and transverse to the other side within."
        [/message]
        [message]
            id=Alloria
            message= _ "If that would be quicker than any other crossing, then that is the way we will go."
        [/message]
        [message]
            id=Lisaundra
            message= _ "I've been in the caves you speak of, and they are a dangerous place."
        [/message]
        [message]
            id=Hawken
            message= _ "They likely have gotten worse of late. I'll come with you, I may not be a great magus, but I will try my best to make myself useful."
        [/message]
        [message]
            id=Alloria
            message= _ "We accept your service. Direct us to these caves."
        [/message]
    [/event]

    [event]
        name=victory
        [store_unit]
            [filter]
                id=Hawken
            [/filter]
            variable=hawken
            kill=no # he may remain on the field for visual reasons
        [/store_unit]
        {VARIABLE hawken.side 1}
        {VARIABLE hawken.x recall}
        {VARIABLE hawken.y recall}
        {VARIABLE hawken.canrecruit no}
#ifver WESNOTH_VERSION <  1.15.2
        {VARIABLE hawken.overlays "misc/loyal-icon.png"}
#endif
        [set_variables]
            name=hawken.modifications
            # Replace the traits, instead of just adding loyal.
            # Because loyal should be the first in the list.
            mode=replace
            [value]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/value]
        [/set_variables]
        [unstore_unit]
            variable=hawken
        [/unstore_unit]
        {CLEAR_VARIABLE hawken}
    [/event]
[/scenario]
