#textdomain wesnoth-War_of_the_Dragon

[unit_type]
    id=Great Tower
    name= _ "Great Tower"
    race=mechanical
    image="units/mechanical/orcish-watch-tower.png"
    [standing_anim]
        start_time=0
        direction=n,ne,se,s
        [frame]
            duration=100
            image="units/mechanical/orcish-watch-tower.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=sw,nw
        [frame]
            duration=100
            image="units/mechanical/orcish-watch-tower.png~FL(horiz)"
        [/frame]
    [/standing_anim]
    hitpoints=100
    movement_type=none
    movement=1
    experience=150
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=21
    usage=fighter
    [resistance]
        impact=80
        fire=80
        cold=80
        pierce=30
        blade=50
    [/resistance]

    [abilities]
        {ABILITY_ILLUMINATES}
    [/abilities]

    description= _ "The great towers are fortifications provide light, and heavy weaponry support."{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}
    {DEFENSE_ANIM_FILTERED "units/mechanical/orcish-watch-tower.png" "units/mechanical/orcish-watch-tower.png" mace.wav direction=n,ne,se,s}
    {DEFENSE_ANIM_FILTERED "units/mechanical/orcish-watch-tower.png~FL(horiz)" "units/mechanical/orcish-watch-tower.png~FL(horiz)" mace.wav direction=sw,nw}
    die_sound=wose-die.ogg
    [attack]
        name=ballista
        description= _"ballista"
        icon="attacks/ballista.png"
        type=pierce
        range=ranged
        damage=20
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ballista
        [/filter_attack]
        start_tiime=-300
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            direction=n,ne,se,s
            [frame]
                image="units/mechanical/orcish-watch-tower.png:350"
            [/frame]
        [/if]
        [else]
            direction=sw,nw
            [frame]
                image="units/mechanical/orcish-watch-tower.png~FL(horiz):350"
            [/frame]
        [/else]
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -300}
    [/attack_anim]
[/unit_type]
