#textdomain wesnoth-War_of_the_Dragon

#define WILD_UNIT X Y TYPE

#arg HAS_NAME
yes #endarg
    [unit]
        type={TYPE}
        x={X}
        y={Y}
        generate_name={HAS_NAME}
        random_traits=yes
        random_gender=yes
        ai_special=guardian
    [/unit]
#enddef

#define RWILD_UNIT X Y TYPE
    [unit]
        type={TYPE}
        side=6
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
    [/unit]
#enddef

#define HINT MESSAGE
    notes_string= _ "Hint:"
    [note]
        description={MESSAGE}
    [/note]
#enddef

#define PROLOGUE_FORCES
        side=1
        controller=human
        team_name=Alloria
        #textdomain wesnoth-Era_of_Myths
        user_team_name=_ "race^Windsong Humans"
        #textdomain wesnoth-War_of_the_Dragon
        village_gold=1
        color=blue
        recruit=EOM_Scribe,EOM_Seeker,EOM_Weaver,EOM_Gatekeeper,EOM_Courier
#enddef

#define SHARDS
        side=1
        controller=human
        team_name=Alloria
        user_team_name= _ "Alloria"
        village_gold=1
        color=blue
        recruit=EOM_Sky_Shard
#enddef

#define LISAUNDRA_STAND
        side=1
        controller=human
        team_name=Alloria
        user_team_name= _ "Lisaundra"
        village_gold=2
        fog=yes
        color=blue
        recruit=EOM_Sky_Shard,EOM_Messenger,EOM_Light_Spirit,EOM_Crusader,EOM_Legionnaire,EOM_Wizard,EOM_Zealot
#enddef

#define CELESTIAL_ARMY
        side=1
        controller=human
        team_name=Alloria
        user_team_name= _ "Alloria"
        village_gold=1
        color=blue
        recruit=EOM_Sky_Shard,EOM_Messenger,EOM_Light_Spirit,EOM_Crusader,EOM_Legionnaire,EOM_Wizard,EOM_Zealot
#enddef

#define SHARDS_1
        side=1
        controller=human
        team_name=Alloria
        user_team_name= _ "Alloria"
        village_gold=2
        color=blue
        recruit=EOM_Sky_Shard
#enddef
